table {
}

.counter {
  background: black;
  color: lime;
  font-family: "Courier New";
  width: 50%;
}

button {
  background-color: black;
  border: 1px solid black;
  border-radius: 5%;
  color: white;
  font-size: 4em;
  font-family: Courier;
  height: 5rem;
  text-align: center;
  width: 5rem;
}

.revealed {
  background-color: white;
}

.mine {
  color: red;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: teal;
}

.four {
  color: purple;
}

.five {
  color: salmon;
}

.six {
  color: fuchsia;
}

.seven {
  color: orange;
}

.eight {
  color: pink;
}