table {
  background-color: salmon;
}

button {
  background-color: teal;
  border: 1px solid black;
  border-radius: 5%;
  color: gray;
  font-size: 4em;
  font-family: Courier;
  height: 5rem;
  text-align: center;
  width: 5rem;
}

.revealed {
  color: black;
}

